@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Libre+Baskerville&family=Pacifico&family=Rajdhani:wght@500&display=swap');



body {
    font-family: 'Rajdhani', sans-serif;
}

.row{
    --bs-gutter-x:0;
}

/*HEADER*/

.fuentes {
    font-size: 1.5rem;
    padding-left: 2rem;
    text-transform: uppercase;
}

header {
    background-color: #000000;
}

.header-fijo {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.colorMenu {
    background-color: #7b6e4c;
    border-radius: 3px;
}

.menu-fijo li {
    display: inline;
}

.menu-fijo a {
    font-size: 0.9em;
    color: #fff;
    text-shadow: 1px 1px #cdae49;
    padding: 0 0 0 10px;
}


/* CAROUSEL */
.imgCarousel {
    height: 350px;
}

/* PRODUCTOS */

.titulos {
    background-color: #cdae49;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

.titulos h2 {
    font-size: 3rem;
}

.colorBtn {
    background-color: #cdae49;
    color: black;
}

.card {
    border: none;
    margin-top: 15px;
}

/* SERVICIOS */
.serv {
    padding-top: 1rem;
}

.img-servicios {
    width: 560px;
    height: 400px;
}

/* CONTACTOS */
.link {
    text-decoration: none;
    color: black;
}