header {
	background-color: $negro;
	.header-fijo {
		position: sticky;
		top: 0;
		z-index: 1;
		width: 100%;
	}
	.colorMenu {
		background-color: $marron;
		border-radius: 3px;
	}

	nav ul li h2{
		text-transform: uppercase;
		font-size: 25px;
	}
}