@mixin link{
    text-decoration: none;
    color: $amarillo;
    font-size:20px
}
.link{
    @include link;
}
@mixin titulos{
    .titulos {
        background-color: $marron;
        color: $blanco;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
        h2 {
            font-size: 3rem;
        }
    }
}
@include titulos;

@mixin menu-fijo{
    .menu-fijo {
        li {
            display: inline;
        }
        a {
            font-size: 0.9em;
            color: $blanco;
            text-shadow: 1px 1px $amarillo;
            padding: 0 0 0 10px;
        }
}
}

@include menu-fijo;