.titulos {
	background-color: $marron;
	color: $blanco;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem;
	h2 {
		font-size: 3rem;
	}
}
.colorBtn {
	background-color: $amarillo;
	color: $negro;
}
.card {
	border: none;
	margin-top: 15px;
}