.serv {
    padding-top: 1rem;
}

.img-servicios {
  width: 100%;
  height: auto;
}
.row{
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.servicios5{
  width: 100%;
  .edit-img{
    width: 500px;
    height: 400px;
    display: flex;
    border-radius: 50px;
  }
}