@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Libre+Baskerville&family=Pacifico&family=Rajdhani:wght@500&display=swap');

*{
     font-family: 'Rajdhani', sans-serif;
     --bs-gutter-x:0;
     --bs-gutter-y:0;
}